model/src/main/resources/schema/COMMON/IRS-SDT.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2013 (http://www.altova.com) by Internal Revenue Service (Internal Revenue Service) -->
<xsd:schema xmlns="urn:us:gov:treasury:irs:common" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:us:gov:treasury:irs:common" elementFormDefault="qualified" attributeFormDefault="unqualified" version="8.2">
	<xsd:annotation>
		<xsd:documentation>
			<Component>
				<DictionaryEntryNm>IRS Specialized Data Types</DictionaryEntryNm>
				<MajorVersionNum>8</MajorVersionNum>
				<MinorVersionNum>2</MinorVersionNum>
				<VersionEffectiveBeginDt>2014-07-14</VersionEffectiveBeginDt>
				<VersionDescriptionTxt>Upgrade to current BASELINE 8.2</VersionDescriptionTxt>
				<DescriptionTxt>Specialized data types created with IRS design and validation principles</DescriptionTxt>
			</Component>
		</xsd:documentation>
	</xsd:annotation>
	<!-- ===== Imports ===== -->
	<!-- ===== Attribute Group Definitions ===== -->
	<!-- ===== Type Definitions ===== -->
	<xsd:simpleType name="ACABusinessCorrelationIdType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>ACA (Affordable Care Act) Business Correlation Identification Type</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2012-07-11</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial version</VersionDescriptionTxt>
					<DescriptionTxt>A business correlation identifier used for all request and response messages in ACA messages exchanges</DescriptionTxt>
					<DataElementId>163258</DataElementId>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:token">
			<xsd:pattern value="[0-9a-zA-Z]{8}-[0-9a-zA-Z]{4}-[0-9a-zA-Z]{4}-[0-9a-zA-Z]{4}-[0-9a-zA-Z]{12}:[a-zA-Z0]{5}::[0-9]{2}\.[a-zA-Z]{2}[a-zA-Z*]{1}\.[a-zA-Z0-9]{3}\.[0-9]{3}\.[0-9]{3}:(T|B|O)"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="AcknowledgementStatusCodeType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Acknowledgement Status Code Type</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2012-07-11</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial version</VersionDescriptionTxt>
					<DescriptionTxt>A code used to indicate the status of an acknowledgement.</DescriptionTxt>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="SUCCESS"/>
			<xsd:enumeration value="FAILURE"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="AfaStatusCodeType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>AFA Submissions Status Code Type</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2013-10-22</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial version</VersionDescriptionTxt>
					<DescriptionTxt>The AFA status submission status type code</DescriptionTxt>
					<DataElementId> </DataElementId>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Success"/>
			<xsd:enumeration value="Failure"/>
			<xsd:enumeration value="Error"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="AmountType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Amount Type</DictionaryEntryNm>
					<MajorVersionNum>2</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2005-06-06</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial version</VersionDescriptionTxt>
					<DescriptionTxt>Base type for US currency amount</DescriptionTxt>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:decimal">
			<xsd:totalDigits value="19"/>
			<xsd:fractionDigits value="2"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="AppealReasonCdType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>AppealReasonCodeType</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2012-08-18</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial version</VersionDescriptionTxt>
					<DescriptionTxt>The value options related to a appeal reason</DescriptionTxt>
					<DataElementId> </DataElementId>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Individual eligibility for coverage"/>
			<xsd:enumeration value="Individual eligibility for exception"/>
			<xsd:enumeration value="Individual eligibility for APTC"/>
			<xsd:enumeration value="Employer does not offer MEC"/>
			<xsd:enumeration value="Employer MEC is unaffordable"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="BatchCategoryCodeType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Batch Category Code Type</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2012-09-05</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial version</VersionDescriptionTxt>
					<DescriptionTxt>This is a cummulative list of predetermined values identifying each possible kind of batch processing (List will be updated as new bulk services are implemented).
					</DescriptionTxt>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="IRS_EOM_REQ">
				<xsd:annotation>
					<xsd:documentation>Identifies End of Month Request processing</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="IRS_EOY_REQ">
				<xsd:annotation>
					<xsd:documentation>Identifies End of year Request processing</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="IRS_APTC_REQ">
				<xsd:annotation>
					<xsd:documentation>Identifies APTC Request processing</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="IRS_IFSV_REQ">
				<xsd:annotation>
					<xsd:documentation>Identifies IFSV Request processing</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="IRS_EOM_RESUBMIT_FILE_REQ">
				<xsd:annotation>
					<xsd:documentation>Identifies End of Month File Resubmit Request processing</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="IRS_EOM_RESUBMIT_BATCH_REQ">
				<xsd:annotation>
					<xsd:documentation>Identifies End of Month Batch Resubmit Request processing</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="IRS_EOM_RESUBMIT_MISSING_FILE_REQ">
				<xsd:annotation>
					<xsd:documentation>Identifies End of Month Missing File Resubmit Request processing</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="IRS_EOY_RESUBMIT_FILE_REQ">
				<xsd:annotation>
					<xsd:documentation>Identifies End of Year File Resubmit Request processing</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="IRS_EOY_RESUBMIT_BATCH_REQ">
				<xsd:annotation>
					<xsd:documentation>Identifies End of Year Batch Resubmit Request processing</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="IRS_EOY_RESUBMIT_MISSING_FILE_REQ">
				<xsd:annotation>
					<xsd:documentation>Identifies End of Year Missing File Resubmit Request processing</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="BinaryFormatCodeType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Binary Format Code Type</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2012-09-05</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial version</VersionDescriptionTxt>
					<DescriptionTxt>A code for the file format of content type of a binary object. Extensible Markup Language (XML) is the only accepted type at this time.
					</DescriptionTxt>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="application/xml"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="BooleanStringType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Boolean String Type</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2012-03-141</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial version</VersionDescriptionTxt>
					<DescriptionTxt>The code options related to a boolean string</DescriptionTxt>
					<DataElementId> </DataElementId>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Y"/>
			<xsd:enumeration value="N"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="BooleanType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Boolean Type</DictionaryEntryNm>
					<MajorVersionNum>2</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2008-01-08</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Added defaults of 0/1 EFileTypes, December 14, 2007</VersionDescriptionTxt>
					<DescriptionTxt>Base type for a boolean. 0= False, 1=True </DescriptionTxt>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:boolean">
			<xsd:pattern value="[01]"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="BRMGatewayStatusCodeType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>BRM Gateway Status Code Type</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2012-09-05</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial version</VersionDescriptionTxt>
					<DescriptionTxt>This is a code used to indicate the status of the BRM Gateway.
					</DescriptionTxt>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="NEW"/>
			<xsd:enumeration value="INPROCESS"/>
			<xsd:enumeration value="CHUNKED"/>
			<xsd:enumeration value="ERROR"/>
			<xsd:enumeration value="CHUNKS RECEIVED"/>
			<xsd:enumeration value="RESPONSE FILE CONSOLIDATED"/>
			<xsd:enumeration value="BRM GATEWAY NOTIFIED"/>
			<xsd:enumeration value="RESPONSE SUBMITTED TO CMS"/>
			<xsd:enumeration value="COMPLETED"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="BusinessNameControlType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Business Name Control Type</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2008-01-08</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>EFileTypes, December 14, 2007
					</VersionDescriptionTxt>
					<DescriptionTxt>Used for a Name Control. Legal Characters: A-Z,
						0-9, hyphen and ampersand. Illegal Character: spaces
						and symbols.
					</DescriptionTxt>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="([A-Z0-9\-]|&#x26;){1,4}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="BusinessNameLine1Type">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Business Name Line 1 Type</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2008-01-08</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>EFileTypes, December 14, 2007</VersionDescriptionTxt>
					<DescriptionTxt>Typically used for a business name. Legal Characters: A-Z, a-z, 0-9, hash, hyphen, parentheses, ampersand, apostrophe and single space. Illegal Character: leading space, trailing space, adjacent spaces, and other symbols</DescriptionTxt>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="75"/>
			<xsd:pattern value="(([A-Za-z0-9#\-\(\)]|&#x26;|&#x27;) ?)*([A-Za-z0-9#\-\(\)]|&#x26;|&#x27;)"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="BusinessNameLine2Type">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Business Name Line 2 Type</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2008-01-08</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>EFileTypes, December 14, 2007</VersionDescriptionTxt>
					<DescriptionTxt>Typically used for line 2 of a business name. Legal Characters: A-Z, a-z, 0-9, hash, slash, percent, hyphen, parentheses, ampersand, apostrophe and single space. Illegal Character: leading space, trailing space, adjacent spaces, and other symbols.</DescriptionTxt>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="75"/>
			<xsd:pattern value="(([A-Za-z0-9#/%\-\(\)]|&#x26;|&#x27;) ?)*([A-Za-z0-9#/%\-\(\)]|&#x26;|&#x27;)"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="CheckboxType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Checkbox Type</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2008-01-08</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>EFileTypes, December 14, 2007</VersionDescriptionTxt>
					<DescriptionTxt>Typically used by an optional checkbox.</DescriptionTxt>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="X"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="CityType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>City Type</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2008-01-08</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>EFileTypes, December 14, 2007</VersionDescriptionTxt>
					<DescriptionTxt>City Name </DescriptionTxt>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="22"/>
			<xsd:pattern value="([A-Za-z] ?)*[A-Za-z]"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="CountryCodeType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Country Code Type</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2006-03-31</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>ELDM 3.1  (mapped to ELDM 5.1, 11/27/2007)</VersionDescriptionTxt>
					<DescriptionTxt>The name of a nation or state recognized by international postal authorities for delivery of mail.</DescriptionTxt>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="DateType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Date Type</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2008-01-08</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>EFileTypes, December 14, 2007</VersionDescriptionTxt>
					<DescriptionTxt>Base type for a date; base type definition used for MeF shared forms only </DescriptionTxt>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:date">
			<xsd:pattern value="[1-9][0-9]{3}\-.*"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="DeliveryPointBarCodeType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>DeliveryPointBarCode Type</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2008-01-08</VersionEffectiveBeginDt>
					<VersionDescriptionTxt/>
					<DescriptionTxt>Additional 3 digits after the zipPluscode</DescriptionTxt>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[0-9]{3}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="DocumentSequenceNumType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Document Sequence Number Type</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2013-10-30</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Baseline 7.0 </VersionDescriptionTxt>
					<DescriptionTxt>Developed a generic sequence number (range 00001-99999) for documents</DescriptionTxt>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:integer">
			<xsd:pattern value="(0000[1-9]|000[1-9][0-9]|00[1-9][0-9][0-9]|0[1-9][0-9][0-9][0-9]|[1-9][0-9][0-9][0-9][0-9])"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="EINType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>EIN Type</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2008-01-08</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>EFileTypes, December 14, 2007</VersionDescriptionTxt>
					<DescriptionTxt>Base type for an employer Identification number</DescriptionTxt>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[0-9]{9}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="EPDSubmissionSourceCdType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>EPDSubmission Source Code Type</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2013-07-08</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial version</VersionDescriptionTxt>
					<DescriptionTxt>A code used to indicate the source of the EPD data</DescriptionTxt>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Individual"/>
			<xsd:enumeration value="SHOP"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="ExchangeIdType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Exchange Identification Type</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2012-01-08</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial Version</VersionDescriptionTxt>
					<DescriptionTxt>A exchange identifier used for all request and response messages in ACA messages exchanges.The CMS Exchange ID will be a part of the MessageID in the SOAP header</DescriptionTxt>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[0-9]{2}\.[a-zA-Z]{2}[a-zA-Z*]{1}\.[a-zA-Z0-9]{3}\.[0-9]{3}\.[0-9]{3}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="ExemptionCertificateNumType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Exemption Certificate Number Type</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2013-03-25</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial Version</VersionDescriptionTxt>
					<DescriptionTxt>Certificate Number needs to be a smart code which may include information on the following values(AA A -NN NN - NNNN - NN) as part of its numbering sequence: Combination of  StateCode  ExemptionType -  Beginning Month of Exemption Ending Month of Exemption - Unique ECNs created - Year for which Exemption is applicable </DescriptionTxt>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[a-hA-H]{1}[a-zA-Z0-9]{5}[NYny]{1}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="FileSourceCodeType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>File Source Code Type</DictionaryEntryNm>
					<MajorVersionNum>2</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2007-10-15</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>From the old CODELIST schema, moved enumeration values in this CBC  (mapped to ELDM 5.1, 11/27/2007)</VersionDescriptionTxt>
					<DescriptionTxt>A current systems data source for a Taxpayer obligation line item.  The sources of transactions (with their current legacy codes) include:
	Individual Retirement Account File (IRAF), 	Business Master File (BMF), 	Individual Master File (IMF), 	Non-Master File (NMF), 	Financial Reporting (FR) processing, 	EFTPS, 	FTD, 	DOJ, 	SITLP, 	ISRP, 	RPS, 	IDRS</DescriptionTxt>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="6"/>
			<xsd:enumeration value="1">
				<xsd:annotation>
					<xsd:documentation>IMF</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="2">
				<xsd:annotation>
					<xsd:documentation>BMF</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="3">
				<xsd:annotation>
					<xsd:documentation>EPMF</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="4">
				<xsd:annotation>
					<xsd:documentation>IRAF</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="5">
				<xsd:annotation>
					<xsd:documentation>Unknown</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="6">
				<xsd:annotation>
					<xsd:documentation>NMF</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="7">
				<xsd:annotation>
					<xsd:documentation>Unknown</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="8">
				<xsd:annotation>
					<xsd:documentation>Unknown</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="9">
				<xsd:annotation>
					<xsd:documentation>CAF</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="0">
				<xsd:annotation>
					<xsd:documentation>AIMS</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="FileStatusCdType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>File Status Code Type</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2013-10-28</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial version</VersionDescriptionTxt>
					<DescriptionTxt>A code used to indicate the file receving status</DescriptionTxt>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Rejected"/>
			<xsd:enumeration value="Delivered-Success"/>
			<xsd:enumeration value="Delivered-Exception"/>
			<xsd:enumeration value="Delivery-Failed"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="IdentifierType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Identification Type</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2013-04-26</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial version</VersionDescriptionTxt>
					<DescriptionTxt>Base type for a 5 character formatted number.</DescriptionTxt>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:integer">
			<xsd:totalDigits value="16"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="IndicatorCodeType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Indicator Code Type</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2006-03-06</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Original DescriptionTxt</VersionDescriptionTxt>
					<DescriptionTxt>Indicator for flags that must b e of type=string. Y= yes, N= no, not required</DescriptionTxt>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Y"/>
			<xsd:enumeration value="N"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="IntegerNNType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Integer Non NegativeType</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2008-01-08</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>EFileTypes, December 14, 2007</VersionDescriptionTxt>
					<DescriptionTxt>Base type for a non-negative integer</DescriptionTxt>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:nonNegativeInteger"/>
	</xsd:simpleType>
	<xsd:simpleType name="InternalDocumentSystemFileNameType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Internal Document System File Name Type</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2013-10-31</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial Version</VersionDescriptionTxt>
					<DescriptionTxt>A internal document system file name pattern definition representing 'yyyyMMdd'T'HHmmssSSS'Z.</DescriptionTxt>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="(EOM|EOY)_(Request|Response)_(0000[1-9]|000[1-9][0-9]|00[1-9][0-9][0-9]|0[1-9][0-9][0-9][0-9]|[1-9][0-9][0-9][0-9][0-9])_[1-9][0-9]{3}(0[1-9]|1[0-2])(0[1-9]|[1-2][0-9]|3[0-1])T(0[1-9]|1[0-9]|2[0-3])(0[1-9]|[1-5][0-9])(0[1-9]|[1-5][0-9])[0-9]{3}Z_[1-9][0-9]{3}\-.+T[^\.]+(Z|[\+\-].+)_[0-9]{8}\.xml"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="MD5Type">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>MD5 Checksum Type</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2013-05-01</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial Version</VersionDescriptionTxt>
					<DescriptionTxt>The MD5 Checksum Type (32 character hex value).</DescriptionTxt>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[0-9A-Fa-f]{32}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="MonthNumberType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Month Number Type</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2013-03-05</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Inital Version</VersionDescriptionTxt>
					<DescriptionTxt>Represents the month number in a year.  Range (01-12)</DescriptionTxt>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="IntegerNNType">
			<xsd:minInclusive value="01"/>
			<xsd:maxInclusive value="12"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="NameControlTypeCodeType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Name Control Type Code</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2012-11-05</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial version</VersionDescriptionTxt>
					<DescriptionTxt>A code used to identify the name control code type.</DescriptionTxt>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="CURRENT"/>
			<xsd:enumeration value="PAST"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="NameControlValResultCodeType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Name Control Validation Result Code Type</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2012-11-05</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial version</VersionDescriptionTxt>
					<DescriptionTxt>A code used to identify the Name Control Validation Result Code type.</DescriptionTxt>
					<DataElementId/>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="EXACT_MATCH"/>
			<xsd:enumeration value="PROXIMAL_MATCH"/>
			<xsd:enumeration value="NO_MATCH"/>
			<xsd:enumeration value="TIN_NOT_FOUND"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="NullBooleanType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Null Boolean Type</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2013-05-01</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial Version</VersionDescriptionTxt>
					<DescriptionTxt>Type for nullable boolean values</DescriptionTxt>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="true"/>
			<xsd:enumeration value="false"/>
			<xsd:enumeration value="1"/>
			<xsd:enumeration value="0"/>
			<xsd:enumeration value="null"/>
			<xsd:enumeration value=""/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Percentage100Type">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Percentage 100 Type</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2013-03-25</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial version</VersionDescriptionTxt>
					<DescriptionTxt>Base type for a percentage formatted as 5 integers and 2 decimals</DescriptionTxt>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:decimal">
			<xsd:totalDigits value="5"/>
			<xsd:fractionDigits value="2"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="PersonNameControlType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Person Name Control Type</DictionaryEntryNm>
					<MajorVersionNum>2</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2009-03-16</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial version</VersionDescriptionTxt>
					<DescriptionTxt>4 characters generated as a person's name control
</DescriptionTxt>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:length value="4"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="QHPIssuerIdType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>QHP Issuer Identification Type</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2013-01-25</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial version</VersionDescriptionTxt>
					<DescriptionTxt>Base type for a 5 character formatted number.</DescriptionTxt>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:integer">
			<xsd:pattern value="[0-9]{5}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="RequestIdType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Request Id Type</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2015-02-11</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial version</VersionDescriptionTxt>
					<DescriptionTxt>Base type for a social security number - 9 digits</DescriptionTxt>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="([0-9]{1,9})"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="SequenceNumberType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Sequence Number Type</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2013-10-30</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>ACA</VersionDescriptionTxt>
					<DescriptionTxt>Type for a Sequence Number</DescriptionTxt>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:integer">
			<xsd:totalDigits value="10"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="SSNType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>SSN Type</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2008-01-08</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial version</VersionDescriptionTxt>
					<DescriptionTxt>Base type for a social security number - 9 digits</DescriptionTxt>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[0-9]{9}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="String16Type">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>String 16 Text Type</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2013-05-17</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial version</VersionDescriptionTxt>
					<DescriptionTxt>A string limited to only 16 characters</DescriptionTxt>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="16"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="String50Type">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>String 50 Text Type</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2013-04-15</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial version</VersionDescriptionTxt>
					<DescriptionTxt>A string limited to only 50 characters</DescriptionTxt>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="50"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="SubmissionStatusCodeType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Submissions Status Type</DictionaryEntryNm>
					<MajorVersionNum>2</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2012-09-01</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial version</VersionDescriptionTxt>
					<DescriptionTxt>The form(s) submission status type code</DescriptionTxt>
					<DataElementId> </DataElementId>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Accepted"/>
			<xsd:enumeration value="Accepted with Errors"/>
			<xsd:enumeration value="Rejected"/>
			<xsd:enumeration value="Processing"/>
			<xsd:enumeration value="Not Found"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="SubmissionValidationCdType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Submissions Validation Code Type</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2012-10-29</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial version</VersionDescriptionTxt>
					<DescriptionTxt>The form(s) submission validation status type code</DescriptionTxt>
					<DataElementId> </DataElementId>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Valid"/>
			<xsd:enumeration value="Invalid"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="SystemIdType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>System Id Type</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2005-06-06</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>ELDM 3.0</VersionDescriptionTxt>
					<DescriptionTxt>Type for a System Id</DescriptionTxt>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="16"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="TaxpayerValidityCodeType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Taxpayer Validity Code Type</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2008-06-06</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>AMS Questions - newly mapped to ELDM</VersionDescriptionTxt>
					<DescriptionTxt>Indicates the validity status of the TIN</DescriptionTxt>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:integer">
			<xsd:enumeration value="0">
				<xsd:annotation>
					<xsd:documentation>SSN - VALID</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="1">
				<xsd:annotation>
					<xsd:documentation>SSN - INVALID</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="2">
				<xsd:annotation>
					<xsd:documentation>EIN (no status code assigned)</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="3">
				<xsd:annotation>
					<xsd:documentation>a TIN stored on AIMS (no status code assigned)</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="4">
				<xsd:annotation>
					<xsd:documentation>CAF (non-EIN) Representative Number (no status code assigned)</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="TestIndicatorType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Test Indicator Type</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2012-05-23</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial version</VersionDescriptionTxt>
					<DescriptionTxt>The test indicator type code</DescriptionTxt>
					<DataElementId> </DataElementId>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="P"/>
			<xsd:enumeration value="T"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="TimestampType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Timestamp Type</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2008-01-08</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>EFileTypes, December 14, 2007</VersionDescriptionTxt>
					<DescriptionTxt>Base type for a date and time stamp - Timezone portion is required and fractional seconds are prohibited</DescriptionTxt>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:dateTime">
			<xsd:pattern value="[1-9][0-9]{3}\-.+T[^\.]+(Z|[\+\-].+)"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="TimestampWithMillisecondsType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Timestamp With Milliseconds Type</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2009-03-11</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>New for AMS</VersionDescriptionTxt>
					<DescriptionTxt>timestamp for AMS</DescriptionTxt>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[1-9][0-9]{3}(\-[0-9]{2}){2}T([0-9]{2}:){2}[0-9]{2}(\.[0-9]{1,6}){0,1}(Z|[\+\-][0-9]{2}:{0,1}[0-9]{2})"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="TINRequestTypeCodeType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>TIN Request Type Code Type</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2012-11-01</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial Version</VersionDescriptionTxt>
					<DescriptionTxt>A code type used to identify the TIN request type.</DescriptionTxt>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="INDIVIDUAL_TIN"/>
			<xsd:enumeration value="BUSINESS_TIN"/>
			<xsd:enumeration value="UNKNOWN"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="TINType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>TIN Type</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2011-03-21</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial version</VersionDescriptionTxt>
					<DescriptionTxt>Type for Taxpayer Identification Number - restricted to 9
						digits</DescriptionTxt>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:length value="9"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="TINValidationIndicatorType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Taxpayer Identification Number Validation Indicator Type</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2013-03-05</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial version</VersionDescriptionTxt>
					<DescriptionTxt>defines the values for Taxpayer Identification Number Validation</DescriptionTxt>
					<DataElementId> </DataElementId>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Pass"/>
			<xsd:enumeration value="Fail"/>
			<xsd:enumeration value="Not Executed"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="USStateCdType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>United States State Code Type</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2013-01-15</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial Version</VersionDescriptionTxt>
					<DescriptionTxt>One of the states of the United States</DescriptionTxt>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="AL">
				<xsd:annotation>
					<xsd:documentation>Alabama</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="AK">
				<xsd:annotation>
					<xsd:documentation>Alaska</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="AZ">
				<xsd:annotation>
					<xsd:documentation>Arizona</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="AR">
				<xsd:annotation>
					<xsd:documentation>Arkansas</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="CA">
				<xsd:annotation>
					<xsd:documentation>California</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="CO">
				<xsd:annotation>
					<xsd:documentation>Colorado</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="CT">
				<xsd:annotation>
					<xsd:documentation>Connecticut</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="DE">
				<xsd:annotation>
					<xsd:documentation>Delaware</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="DC">
				<xsd:annotation>
					<xsd:documentation>District of Columbia</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="FL">
				<xsd:annotation>
					<xsd:documentation>Florida</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="GA">
				<xsd:annotation>
					<xsd:documentation>Georgia</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="HI">
				<xsd:annotation>
					<xsd:documentation>Hawaii</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="ID">
				<xsd:annotation>
					<xsd:documentation>Idaho</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="IL">
				<xsd:annotation>
					<xsd:documentation>Illinois</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="IN">
				<xsd:annotation>
					<xsd:documentation>Indiana</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="IA">
				<xsd:annotation>
					<xsd:documentation>Iowa</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="KS">
				<xsd:annotation>
					<xsd:documentation>Kansas</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="KY">
				<xsd:annotation>
					<xsd:documentation>Kentucky</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="LA">
				<xsd:annotation>
					<xsd:documentation>Louisiana</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="ME">
				<xsd:annotation>
					<xsd:documentation>Maine</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="MD">
				<xsd:annotation>
					<xsd:documentation>Maryland</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="MA">
				<xsd:annotation>
					<xsd:documentation>Massachusetts</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="MI">
				<xsd:annotation>
					<xsd:documentation>Michigan</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="MN">
				<xsd:annotation>
					<xsd:documentation>Minnesota</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="MS">
				<xsd:annotation>
					<xsd:documentation>Mississippi</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="MO">
				<xsd:annotation>
					<xsd:documentation>Missouri</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="MT">
				<xsd:annotation>
					<xsd:documentation>Montana</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="NE">
				<xsd:annotation>
					<xsd:documentation>Nebraska</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="NV">
				<xsd:annotation>
					<xsd:documentation>Nevada</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="NH">
				<xsd:annotation>
					<xsd:documentation>New Hampshire</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="NJ">
				<xsd:annotation>
					<xsd:documentation>New Jersey</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="NM">
				<xsd:annotation>
					<xsd:documentation>New Mexico</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="NY">
				<xsd:annotation>
					<xsd:documentation>New York</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="NC">
				<xsd:annotation>
					<xsd:documentation>North Carolina</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="ND">
				<xsd:annotation>
					<xsd:documentation>North Dakota</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="OH">
				<xsd:annotation>
					<xsd:documentation>Ohio</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="OK">
				<xsd:annotation>
					<xsd:documentation>Oklahoma</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="OR">
				<xsd:annotation>
					<xsd:documentation>Oregon</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="PA">
				<xsd:annotation>
					<xsd:documentation>Pennsylvania</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="RI">
				<xsd:annotation>
					<xsd:documentation>Rhode Island</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="SC">
				<xsd:annotation>
					<xsd:documentation>South Carolina</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="SD">
				<xsd:annotation>
					<xsd:documentation>South Dakota</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="TN">
				<xsd:annotation>
					<xsd:documentation>Tennessee</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="TX">
				<xsd:annotation>
					<xsd:documentation>Texas</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="UT">
				<xsd:annotation>
					<xsd:documentation>Utah</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="VT">
				<xsd:annotation>
					<xsd:documentation>Vermont</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="VA">
				<xsd:annotation>
					<xsd:documentation>Virginia</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="WA">
				<xsd:annotation>
					<xsd:documentation>Washington</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="WV">
				<xsd:annotation>
					<xsd:documentation>West Virginia</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="WI">
				<xsd:annotation>
					<xsd:documentation>Wisconsin</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="WY">
				<xsd:annotation>
					<xsd:documentation>Wyoming</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="USZIPCdType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>United States Zip Code Type</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2013-03-05</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial Version</VersionDescriptionTxt>
					<DescriptionTxt>ZIP Code - 5 digits plus </DescriptionTxt>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[0-9]{5}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="USZIPExtensionCdType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>United States Zip Extension Code Type</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2013-03-05</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial Version</VersionDescriptionTxt>
					<DescriptionTxt>Four digit ZIP extention Code </DescriptionTxt>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[0-9]{4}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="YearType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Year Type</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2008-01-08</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial version</VersionDescriptionTxt>
					<DescriptionTxt>Base type for a year in the format of YYYY</DescriptionTxt>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:gYear">
			<xsd:minInclusive value="1000"/>
			<xsd:maxInclusive value="9999"/>
		</xsd:restriction>
	</xsd:simpleType>
</xsd:schema>
