model/src/main/resources/schema/COMMON/IRS-CAC.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2014 rel. 2 sp1 (http://www.altova.com) by Internal Revenue Service (Internal Revenue Service) -->
<xsd:schema xmlns="urn:us:gov:treasury:irs:common" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:us:gov:treasury:irs:common" elementFormDefault="qualified" attributeFormDefault="unqualified" version="8.2">
	<xsd:annotation>
		<xsd:documentation>
			<Component>
				<DictionaryEntryNm>IRS Common Aggregate Components</DictionaryEntryNm>
				<MajorVersionNum>8</MajorVersionNum>
				<MinorVersionNum>2</MinorVersionNum>
				<VersionEffectiveBeginDt>2014-07-14</VersionEffectiveBeginDt>
				<VersionDescriptionTxt>upgrade to current BASELINE 8.2</VersionDescriptionTxt>
				<DescriptionTxt>Common Aggregate Components created with IRS design and validation principles</DescriptionTxt>
			</Component>
		</xsd:documentation>
	</xsd:annotation>
	<!-- ===== Includes / Imports ===== -->
	<xsd:include schemaLocation="../COMMON/IRS-CBC.xsd"/>
	<!-- ===== Element Declarations ===== -->
	<xsd:element name="ACAAttachmentDetail" type="ACAAttachmentDetailType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Affordable Care Act (ACA) Attachment Detail Group</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2013-01-01</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial version</VersionDescriptionTxt>
					<DescriptionTxt>Global type for the ACA Attachment Detail</DescriptionTxt>
					<DataElementID> </DataElementID>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ACABatchDetail" type="ACABatchDetailType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Affordable Care Act (ACA) Batch Detail Group</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2013-01-01</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial version</VersionDescriptionTxt>
					<DescriptionTxt>Global type for the ACA Batch Detail</DescriptionTxt>
					<DataElementID> </DataElementID>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ACABatchManifestDetail" type="ACABatchManifestDetailType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Affordable Care Act (ACA) Batch Manifest Detail Group</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2013-01-01</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial version</VersionDescriptionTxt>
					<DescriptionTxt>Global type for the ACA Batch Manifest Detail</DescriptionTxt>
					<DataElementID> </DataElementID>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ACABatchManifestDetailList" type="ACABatchManifestDetailListType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Affordable Care Act (ACA) Attachment Detail List Group</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2013-01-01</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial version</VersionDescriptionTxt>
					<DescriptionTxt>Global type for the ACA Attachment Detail List</DescriptionTxt>
					<DataElementID> </DataElementID>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ACABulkBatchManifestDetail" type="ACABulkBatchManifestDetailType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Affordable Care Act (ACA) Bulk Batch Manifest Detail Group</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2013-01-01</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial version</VersionDescriptionTxt>
					<DescriptionTxt>Global type for the ACA Batch Manifest Detail (inlcudes Bulk File).</DescriptionTxt>
					<DataElementID> </DataElementID>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ACABatchManifestResponseDetail" type="ACABatchManifestResponseDetailType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Affordable Care Act (ACA) Batch Manifest Response Detail Group</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2013-01-01</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial version</VersionDescriptionTxt>
					<DescriptionTxt>Global type for the ACA Batch Manifest Response Detail</DescriptionTxt>
					<DataElementID> </DataElementID>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ACABatchTransmissionDetail" type="ACABatchTransmissionDetailType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Affordable Care Act (ACA) Batch Transmission Detail</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2013-01-01</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial version</VersionDescriptionTxt>
					<DescriptionTxt>Global type for the ACA Batch Transmission Detail</DescriptionTxt>
					<DataElementID> </DataElementID>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ACABusinessHeaderDetail" type="ACABusinessHeaderType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>ACA (Affordable Care Act) Business Header Detail Type</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2012-09-14</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial version</VersionDescriptionTxt>
					<DescriptionTxt>Message payload for the SOA service that obtains information for the ACA business header detail</DescriptionTxt>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ACAReportingServiceDetail" type="ACAReportingServiceDetailType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Affordable Care Act (ACA) Reporting Service Detail</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2013-01-01</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial version</VersionDescriptionTxt>
					<DescriptionTxt>Global type for the ACA Reporting Service Detail</DescriptionTxt>
					<DataElementID> </DataElementID>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="AssociatedPolicy" type="AssociatedPolicyType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Associated Policy</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2008-01-08</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial Version</VersionDescriptionTxt>
					<DescriptionTxt>Policies on exchange generated monthly report</DescriptionTxt>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<!-- Placeholder - Uncomment once BusinessNameLine1Txt and BusinessNameLine2Txt are added to IRS Common
	<xsd:element name="BusinessName" type="BusinessNameType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Business Name </DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2008-01-08</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial Version</VersionDescriptionTxt>
					<DescriptionTxt>Type for a Business Name, 2 Name Lines</DescriptionTxt>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	-->
	<xsd:element name="CoveredIndividual" type="CoveredIndividualType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Covered Individual</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2008-01-08</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial Version</VersionDescriptionTxt>
					<DescriptionTxt>Covered individual details on exchange generated monthly report</DescriptionTxt>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="CoverageHousehold" type="CoverageHouseholdType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Coverage Household </DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2012-09-19</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial Version</VersionDescriptionTxt>
					<DescriptionTxt>The covered household information on exchange generated monthly report</DescriptionTxt>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="EmployerPlansOffered" type="EmployerPlansOfferedType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>EmployerPlansOffered</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2012-09-19</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial Version</VersionDescriptionTxt>
					<DescriptionTxt>Employer plans offered through SHOP</DescriptionTxt>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="EmployeeCoverage" type="EmployeeCoverageType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Employee Coverage</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2012-09-19</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial Version</VersionDescriptionTxt>
					<DescriptionTxt>The employee SHOP roster coverage details in the montly report </DescriptionTxt>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="EmployeeSHOPPolicy" type="EmployeeSHOPPolicyType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Employee SHOP Policy </DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2012-09-19</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial Version</VersionDescriptionTxt>
					<DescriptionTxt>The employee SHOP Policy details in the montly report </DescriptionTxt>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="EPDPerson" type="EPDPersonType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>EPD Person</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2013-05-17</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial Version</VersionDescriptionTxt>
					<DescriptionTxt>Person information on the report</DescriptionTxt>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ErrorMessageDetail" type="ErrorMessageDetailType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Error Message Detail</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2012-11-01</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial version</VersionDescriptionTxt>
					<DescriptionTxt>Global type for the Error Message Detail</DescriptionTxt>
					<DataElementId>163183</DataElementId>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="Exemption" type="ExemptionType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Exemption</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2012-09-19</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial Version</VersionDescriptionTxt>
					<DescriptionTxt>The Exeption information on exchange generated monthly report</DescriptionTxt>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ExemptionCoverage" type="ExemptionCoverageType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Exemption Coverage</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2013-05-17</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial Version</VersionDescriptionTxt>
					<DescriptionTxt>Exemption coverage for a month with in a year</DescriptionTxt>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ExemptPerson" type="EPDPersonType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>ExemptionPerson</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2012-09-19</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial Version</VersionDescriptionTxt>
					<DescriptionTxt>Name,SSN,DOB and address of each individual who receives an exemption from the Exchange (could include all family members or one family member) of the individual </DescriptionTxt>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="InsuranceCoverage" type="InsuranceCoverageType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Insurance Coverage</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2013-05-17</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial Version</VersionDescriptionTxt>
					<DescriptionTxt>The insurance policy coverage information on exchange generated monthly report</DescriptionTxt>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="InsurancePolicy" type="InsurancePolicyType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Insurance Policy </DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2012-09-19</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial Version</VersionDescriptionTxt>
					<DescriptionTxt>The Insurance policy on exchange generated monthly report</DescriptionTxt>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="InsuredPerson" type="EPDPersonType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>InsuredPerson</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2012-09-29</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial Version</VersionDescriptionTxt>
					<DescriptionTxt>Name, SSN , DOB and address of the person covered on the policy</DescriptionTxt>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="OtherCompletePersonName" type="OtherCompletePersonNameType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Other Complete Person Name</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2014-06-04</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>ACA</VersionDescriptionTxt>
					<DescriptionTxt>Group for person name details where all elements are optional</DescriptionTxt>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ReportPeriodDate" type="ReportPeriodDateType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Report Period Date</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2013-01-01</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial version</VersionDescriptionTxt>
					<DescriptionTxt>Defines period that is being reported on: If Document Type is IRS_EOM, Report Period must be in yyyy-mm format. If Document Type is IRS_EOY, Report Period must be in yyyy format. Only applicable for IRS Reporting Services.
.</DescriptionTxt>
					<DataElementId>166013</DataElementId>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="RejectedFileDtl" type="RejectedFileDtlType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Rejected File Detail</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2013-07-29</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial version</VersionDescriptionTxt>
					<DescriptionTxt>Rejected File details in the submissiond tracking </DescriptionTxt>
					<DataElementId>166013</DataElementId>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ServiceMetadataDetail" type="ServiceMetadataDetailType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Service Metadata Detail Type</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2012-09-14</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial version</VersionDescriptionTxt>
					<DescriptionTxt>A group that wraps metadata detail related to a service.</DescriptionTxt>
					<DataElementId>163365</DataElementId>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="SHOPDependent" type="SHOPExchangePersonType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>SHOP Dependent Type</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2013-03-05</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial Version</VersionDescriptionTxt>
					<DescriptionTxt>Name and SSN of the individual </DescriptionTxt>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="SHOPEmployee" type="SHOPEmployeeType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>SHOP Employee </DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2012-09-19</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial Version</VersionDescriptionTxt>
					<DescriptionTxt>The employee SHOP roster coverage details in the montly report </DescriptionTxt>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="SHOPExchangePerson" type="SHOPExchangePersonType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>SHOP Exchange Person Type</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2013-03-05</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial Version</VersionDescriptionTxt>
					<DescriptionTxt>Name and SSN of the SHOP Exchange Person</DescriptionTxt>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="SHOPSpouse" type="SHOPExchangePersonType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>SHOP Spouse</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2013-03-05</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial Version</VersionDescriptionTxt>
					<DescriptionTxt>Name and SSN of the individual </DescriptionTxt>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="Spouse" type="EPDPersonType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Spouse Type</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2012-09-19</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial Version</VersionDescriptionTxt>
					<DescriptionTxt>Name and SSN of the individual </DescriptionTxt>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="WarningMessageDetail" type="WarningMessageDetailType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Warning Message Detail</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2012-10-01</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial version</VersionDescriptionTxt>
					<DescriptionTxt>Global type for the Warning Message Detail</DescriptionTxt>
					<DataElementId>163492</DataElementId>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="WindowCloseNotificationServiceDetail" type="WindowCloseNotificationServiceDetailType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Service Detail</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2013-01-01</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial version</VersionDescriptionTxt>
					<DescriptionTxt>A group that wraps detail related to the Window Close Notification Service.</DescriptionTxt>
					<DataElementId/>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<!-- =====                                 EPD Error Response Error Element Declarations                                      ===== -->
	<xsd:element name="AssociatedPolicyErrorDtl" type="AssociatedPolicyErrorDtlType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Associated Policy Error Detail</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2013-06-19</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial Version</VersionDescriptionTxt>
					<DescriptionTxt>Policies errors in the exchange generated monthly report</DescriptionTxt>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="BusinessNameErrorDtl" type="BusinessNameErrorDtlType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Business Name Error</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2008-06-19</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial Version</VersionDescriptionTxt>
					<DescriptionTxt>Business name errors in the monthy generated report</DescriptionTxt>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="BusinessAddressErrorDtl" type="BusinessAddressErrorDtlType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Business Address Detail</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2013-06-19</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial Version</VersionDescriptionTxt>
					<DescriptionTxt>Business address errors in the monthy generated report</DescriptionTxt>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="CoveredIndividualErrorDtl" type="CoveredIndividualErrorDtlType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Covered Individual Error Detail</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2013-06-19</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial Version</VersionDescriptionTxt>
					<DescriptionTxt>Covered individual error details in the exchange generated monthly report</DescriptionTxt>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="CompletePersonNameErrorDtl" type="CompletePersonNameErrorDtlType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Complete Person Name Error Detail</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2013-02-13</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial Version</VersionDescriptionTxt>
					<DescriptionTxt>Full name of a person</DescriptionTxt>
					<DataElementId/>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="DependentInfoErrorsGrp" type="DependentInfoErrorsGrpType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Dependent Information Errors Group</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2013-06-19</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial Version</VersionDescriptionTxt>
					<DescriptionTxt>Dependent error details in the monthly report</DescriptionTxt>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="DependentInfoErrorDtl" type="EPDPersonErrorDtlType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Dependent Information Error Detail</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2013-06-19</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial Version</VersionDescriptionTxt>
					<DescriptionTxt>Dependent error details in the monthly report</DescriptionTxt>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="EmployeeCoverageErrorDtl" type="EmployeeCoverageErrorDtlType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Employee Coverage Error Detail</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2012-10-31</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial Version</VersionDescriptionTxt>
					<DescriptionTxt>The employee SHOP roster coverage details in the montly report </DescriptionTxt>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="EmployerMECErrorDtl" type="EmployerMECErrorDtlType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Employer MEC Error Detail</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2013-06-19</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial Version</VersionDescriptionTxt>
					<DescriptionTxt>Employer MEC appeal error details in the monthly report</DescriptionTxt>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="EmployeeSHOPPolicyErrorDtl" type="EmployeeSHOPPolicyErrorDtlType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Employee SHOP Policy Error Detail</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2012-06-19</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial Version</VersionDescriptionTxt>
					<DescriptionTxt>Employee SHOP Policy error details in the montly report </DescriptionTxt>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="EmployerPlansOfferedErrorDtl" type="EmployerPlansOfferedErrorDtlType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Employer Plans Offered Error Detail</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2012-06-19</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial Version</VersionDescriptionTxt>
					<DescriptionTxt>SHOP offered employer plans  through </DescriptionTxt>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="EPDPersonErrorDtl" type="EPDPersonErrorDtlType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Exchange Periodic Data Person Error Detail</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2013-06-19</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial Version</VersionDescriptionTxt>
					<DescriptionTxt>Exchange Periodic Data Person Error Detail</DescriptionTxt>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="EPDErrorDetail" type="EPDErrorDetailType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Exchange Periodic Data Error Detail</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2013-03-05</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial version</VersionDescriptionTxt>
					<DescriptionTxt>Exchange Periodic Data Error Detail</DescriptionTxt>
					<DataElementId/>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="EmployeeRosterErrorDtl" type="EmployeeRosterErrorDtlType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Employee Roster Error Detail</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2012-06-19</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial Version</VersionDescriptionTxt>
					<DescriptionTxt>Employee SHOP roster error details in the montly report</DescriptionTxt>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ExemptionErrorDtl" type="ExemptionErrorDtlType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Exemption Error Detail</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2012-09-19</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial Version</VersionDescriptionTxt>
					<DescriptionTxt>The exemption errors in exchange generated monthly report</DescriptionTxt>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ExemptionCoverageErrorDtl" type="ExemptionCoverageErrorDtlType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Exemption Coverage Error Detail</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2013-05-17</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial Version</VersionDescriptionTxt>
					<DescriptionTxt>Exemption errors for a month with in a year</DescriptionTxt>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ExemptPersonErrorDtl" type="EPDPersonErrorDtlType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Exemption Person Error Detail</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2012-06-19</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial Version</VersionDescriptionTxt>
					<DescriptionTxt>Individual person error details who receives an exemption from the Exchange </DescriptionTxt>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ForeignAddressErrorDtl" type="ForeignAddressErrorDtlType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Foreign Address Error Detail</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2015-06-19</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial Version</VersionDescriptionTxt>
					<DescriptionTxt>Foreign address errors in the monthly generated report</DescriptionTxt>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="HouseholdErrorDtl" type="HouseholdErrorDtlType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Household Error Detail</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2013-06-19</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial Version</VersionDescriptionTxt>
					<DescriptionTxt>Household error details in exchange generated monthly report</DescriptionTxt>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="IRSHouseholdErrorDtl" type="IRSHouseholdErrorDtlType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>IRS Household Error Detail</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2013-04-15</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial Version</VersionDescriptionTxt>
					<DescriptionTxt>Appeal details on individual exchange generated monthly report</DescriptionTxt>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="InsuranceCoverageErrorDtl" type="InsuranceCoverageErrorDtlType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Insurance Coverage Error Detail</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2013-06-19</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial Version</VersionDescriptionTxt>
					<DescriptionTxt>Insurance policy coverage errors in exchange generated monthly report</DescriptionTxt>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="InsurancePolicyErrorDtl" type="InsurancePolicyErrorDtlType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Insurance Policy Error Detail</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2013-06-19</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial Version</VersionDescriptionTxt>
					<DescriptionTxt>Insurance policy errors in exchange generated monthly report</DescriptionTxt>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="IndividualExchangeError" type="IndividualExchangeErrorType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Individual Exchange Error</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2013-04-15</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial Version</VersionDescriptionTxt>
					<DescriptionTxt>Individual exchange data errors</DescriptionTxt>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="InsuredPersonErrorDtl" type="EPDPersonErrorDtlType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Insured Person Error Detail</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2012-06-19</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial Version</VersionDescriptionTxt>
					<DescriptionTxt>Insured person error details in the monthly report</DescriptionTxt>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="OtherRelevantAdultErrorDtl" type="PersonInformationErrorDtlType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Other Relevant Adult Error Detail</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2012-06-19</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial Version</VersionDescriptionTxt>
					<DescriptionTxt>The elements associated with a other relevant adult errors in exchange generated monthly report</DescriptionTxt>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="PrimaryInfoErrorsGrp" type="PrimaryInfoErrorsGrpType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Primary Information Errors Group</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2013-06-19</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial Version</VersionDescriptionTxt>
					<DescriptionTxt>Primary person information errors in the monthly report</DescriptionTxt>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="PrimaryInfoErrorDtl" type="PersonInformationErrorDtlType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Primary Information Error Detail</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2012-06-19</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial Version</VersionDescriptionTxt>
					<DescriptionTxt>Person information errors details in the monthly report</DescriptionTxt>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="SHOPDependentErrorDtl" type="SHOPExchPersonErrorDtlType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>SHOP Dependent Error Detail</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2013-06-19</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial Version</VersionDescriptionTxt>
					<DescriptionTxt>SHOP dependent error details in the monthly report</DescriptionTxt>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="SHOPEmployeeErrorDtl" type="SHOPEmployeeErrorDtlType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>SHOP Employee Error Detail</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2012-10-31</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial Version</VersionDescriptionTxt>
					<DescriptionTxt>SHOP employee error details in the monthly report</DescriptionTxt>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="SHOPEmployerInfoErrorDtl" type="SHOPEmployerInfoErrorDtlType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>SHOP Employer Information Error Detail</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2013-10-31</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial Version</VersionDescriptionTxt>
					<DescriptionTxt>The employee SHOP employer details in the montly report with error detail</DescriptionTxt>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="SHOPExchangeError" type="SHOPExchangeErrorType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>SHOP Exchange Error</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2013-04-15</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial Version</VersionDescriptionTxt>
					<DescriptionTxt>SHOP exchange error details</DescriptionTxt>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="SHOPEmployerErrorDtl" type="SHOPEmployerErrorDtlType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>SHOP Employer Error Detail</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2013-04-15</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial Version</VersionDescriptionTxt>
					<DescriptionTxt>SHOP employer errors in the monthly report</DescriptionTxt>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="SHOPExchangeErrorDtl" type="SHOPExchangeErrorDtlType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>SHOP Exchange Error Detail</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2013-04-15</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial Version</VersionDescriptionTxt>
					<DescriptionTxt>The error detail for employee SHOP exchange data</DescriptionTxt>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="SHOPSpouseErrorDtl" type="SHOPExchPersonErrorDtlType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>SHOP Spouse Error Detail</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2013-06-15</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial Version</VersionDescriptionTxt>
					<DescriptionTxt>SHOP spouse errors in the monthly report</DescriptionTxt>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="SpouseInfoErrorsGrp" type="SpouseInfoErrorsGrpType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Spouse Information Errors Group</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2012-06-19</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial Version</VersionDescriptionTxt>
					<DescriptionTxt>Spouse error details in the exchange generated report.</DescriptionTxt>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="SpouseInfoErrorDtl" type="EPDPersonErrorDtlType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Spouse Information Error Detail</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2012-06-19</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial Version</VersionDescriptionTxt>
					<DescriptionTxt>Spouse error details in the monthly report</DescriptionTxt>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="TaxHouseholdCoverageErrorDtl" type="TaxHouseholdCoverageErrorDtlType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Tax Household Coverage Error</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2013-06-19</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial Version</VersionDescriptionTxt>
					<DescriptionTxt>Tax household coverage error for a month with a year</DescriptionTxt>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="TaxHouseholdErrorDtl" type="TaxHouseholdErrorDtlType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Tax Household Error Detail</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2013-06-19</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial Version</VersionDescriptionTxt>
					<DescriptionTxt>The error detail elements associated with a Household on exchange generated monthly report</DescriptionTxt>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="USAddressErrorDtl" type="USAddressErrorDtlType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>US Address Error Detail</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2013-06-19</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial Version</VersionDescriptionTxt>
					<DescriptionTxt>Errors in a physical US address.</DescriptionTxt>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<!-- =====##############   Element Declarations Types #############===== -->
	<xsd:complexType name="ACAAttachmentDetailType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Affordable Care Act (ACA) Attachment Detail Group</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2013-01-01</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial version</VersionDescriptionTxt>
					<DescriptionTxt>Global type for the ACA Attachment Detail</DescriptionTxt>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="BinaryFormatCd"/>
			<xsd:element ref="ChecksumAugmentationNum"/>
			<xsd:element ref="AttachmentByteSizeNum"/>
			<xsd:element ref="DocumentSystemFileNm"/>
			<xsd:element ref="SystemDocumentId"/>
			<xsd:element ref="SequenceNum"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ACABatchDetailType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Affordable Care Act (ACA) Batch Detail Group</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2013-01-01</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial version</VersionDescriptionTxt>
					<DescriptionTxt>Global type for the ACA Batch Detail Type</DescriptionTxt>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="BatchId"/>
			<xsd:element ref="BatchPartnerId"/>
			<xsd:element ref="BatchAttachmentTransmissionQty"/>
			<xsd:element ref="BatchCategoryCd"/>
			<xsd:element ref="BatchTransmissionQty"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ACABatchManifestDetailType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Affordable Care Act (ACA) Batch Manifest Detail Group</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2013-01-01</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial version</VersionDescriptionTxt>
					<DescriptionTxt>Global type for the ACA Batch Manifest Detail Type</DescriptionTxt>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="ACABatchDetail"/>
			<xsd:element ref="ACABatchTransmissionDetail"/>
			<xsd:element ref="ACAReportingServiceDetail" minOccurs="0"/>
			<xsd:element ref="ACAAttachmentDetail"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ACABatchManifestDetailListType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Affordable Care Act (ACA) Attachment Detail List Group</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2013-01-01</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial version</VersionDescriptionTxt>
					<DescriptionTxt>Global type for the ACA Attachment Detail List</DescriptionTxt>
					<DataElementID> </DataElementID>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="ACABatchManifestDetail" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ACABatchManifestResponseDetailType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Affordable Care Act (ACA) Batch Manifest Response Group</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2013-01-01</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial version</VersionDescriptionTxt>
					<DescriptionTxt>Global type for the ACA Batch Manifest Response Detail Type</DescriptionTxt>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="ResponseCd"/>
			<xsd:element ref="ResponseCodeDescription"/>
			<xsd:element ref="SystemDocumentId"/>
			<xsd:element ref="SequenceNum"/>
			<xsd:element ref="ErrorMessageDetail"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ACABatchTransmissionDetailType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Affordable Care Act (ACA) Batch Transmission Detail Group</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2013-01-01</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial version</VersionDescriptionTxt>
					<DescriptionTxt>Global type for the ACA Batch Transmission Detail Type</DescriptionTxt>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="TransmissionAttachmentQty"/>
			<xsd:element ref="SequenceNum"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ACABulkBatchManifestDetailType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Affordable Care Act (ACA) HHS Batch Manifest Detail Group</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2013-01-01</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial version</VersionDescriptionTxt>
					<DescriptionTxt>Global type for the ACA HHS (includes Bulk File) Batch Manifest Detail Type</DescriptionTxt>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="ACABatchManifestDetail"/>
			<xsd:element ref="BulkExchangeFile"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ACABusinessHeaderType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>ACA (Affordable Care Act) Business Header Type</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2012-09-14</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial version</VersionDescriptionTxt>
					<DescriptionTxt>Message payload for the SOA service that obtains information for the ACA business header</DescriptionTxt>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="ACABusinessCorrelationId"/>
			<xsd:element ref="Timestamp"/>
		</xsd:sequence>
		<xsd:attribute name="version" type="xsd:string" fixed="1.0"/>
	</xsd:complexType>
	<xsd:complexType name="ACAReportingServiceDetailType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Affordable Care Act (ACA) Reporting Service Detail Group</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2013-01-01</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial version</VersionDescriptionTxt>
					<DescriptionTxt>Global type for the ACA Reporting Service Detail Type</DescriptionTxt>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="ReportPeriodDate"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="AssociatedPolicyType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Associated Policy Type</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2008-09-19</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial Version</VersionDescriptionTxt>
					<DescriptionTxt>The elements associated with a policies on exchange generated monthly report</DescriptionTxt>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="QHPPolicyNum"/>
			<xsd:element ref="QHPIssuerEIN"/>
			<xsd:element ref="PediatricDentalPlanPremiumInd" minOccurs="0"/>
			<xsd:element ref="SLCSPAdjMonthlyPremiumAmt"/>
			<xsd:element ref="HouseholdAPTCAmt" minOccurs="0"/>
			<xsd:element ref="TotalHsldMonthlyPremiumAmt"/>
		</xsd:sequence>
	</xsd:complexType>
	<!-- Placeholder - Uncomment once BusinessNameLine1Txt and BusinessNameLine2Txt are added to IRS Common
	<xsd:complexType name="BusinessNameType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Business Name Type</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2008-01-08</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>EFileTypes, December 14, 2007</VersionDescriptionTxt>
					<DescriptionTxt>Type for a Business Name, 2 Name Lines</DescriptionTxt>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="BusinessNameLine1Txt"/>
			<xsd:element ref="BusinessNameLine2Txt" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
   -->
	<xsd:complexType name="CoveredIndividualType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Covered IndividualType</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2008-09-19</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial Version</VersionDescriptionTxt>
					<DescriptionTxt>All the elements associated with an covered individual on exchange generated monthly report</DescriptionTxt>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="InsuredPerson"/>
			<xsd:element ref="CoverageStartDt"/>
			<xsd:element ref="CoverageEndDt" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="CoverageHouseholdType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>HouseholdHouseholdType</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2008-09-19</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial Version</VersionDescriptionTxt>
					<DescriptionTxt>The elements associated with coverage household on exchange generated monthly report</DescriptionTxt>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="CoveredIndividual" maxOccurs="99"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="EPDPersonType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>EPD Person Type</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2008-09-19</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial Version</VersionDescriptionTxt>
					<DescriptionTxt>All the information about the individual taxpayer </DescriptionTxt>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="OtherCompletePersonName"/>
			<xsd:element ref="SSN" minOccurs="0"/>
			<xsd:element ref="BirthDt" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="EmployerPlansOfferedType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Employer Plans Offered Type</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2008-09-19</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial Version</VersionDescriptionTxt>
					<DescriptionTxt>All the elements associated with an employer plans offered through SHOP </DescriptionTxt>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="QHPIssuerEIN"/>
			<xsd:element ref="IssuerNm"/>
			<xsd:element ref="QHPFamilyOrIndivCoverageCd"/>
			<xsd:element ref="EmployerQHPPremiumContriAmt"/>
			<xsd:element ref="EmployerQHPPremiumContriPct"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="EmployeeCoverageType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Employee Coverage Type</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2008-09-19</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial Version</VersionDescriptionTxt>
					<DescriptionTxt>All the elements associated with an employee roster coverage in exchange generated monthly report</DescriptionTxt>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="ApplicableCoverageMonthNum"/>
			<xsd:element ref="OtherCompletePersonName"/>
			<xsd:element ref="SSN"/>
			<xsd:element ref="EmployerQHPPremiumContriAmt"/>
			<xsd:element ref="EmployeeSHOPPolicy" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="EmployeeSHOPPolicyType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>EmployeeSHOPPolicyType</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>1</MinorVersionNum>
					<VersionEffectiveBeginDt>2008-10-31</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Added element EmployeeQHPShareOfPremiumAmt</VersionDescriptionTxt>
					<DescriptionTxt>All the elements associated with an employer SHOP policy on exchange generated monthly report</DescriptionTxt>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="QHPFamilyOrIndivCoverageCd"/>
			<xsd:element ref="PolicyCoverageStartDt"/>
			<xsd:element ref="PolicyCoverageEndDt" minOccurs="0"/>
			<xsd:element ref="SHOPSpouse" minOccurs="0"/>
			<xsd:element ref="SHOPDependent" minOccurs="0" maxOccurs="99"/>
			<xsd:element ref="EmployeeQHPShareOfPremiumAmt"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ErrorMessageDetailType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Error Message Detail Type</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2012-11-01</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial version</VersionDescriptionTxt>
					<Description>A group that provides error message related information</Description>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="ErrorMessageCd"/>
			<xsd:element ref="ErrorMessageTxt" minOccurs="0"/>
			<xsd:element ref="XpathContent" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ExemptionType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Exemption Type</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2008-09-19</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial Version</VersionDescriptionTxt>
					<DescriptionTxt>All the elements associated with an exemption on exchange generated monthly report</DescriptionTxt>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="ExemptionCoverage" maxOccurs="12"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ExemptionCoverageType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Exemption Coverage Type</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2013-05-17</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial Version</VersionDescriptionTxt>
					<DescriptionTxt>All the elements associated with an Exemption coverage on a month</DescriptionTxt>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="ApplicableCoverageMonthNum"/>
			<xsd:element ref="ExemptPerson"/>
			<xsd:element ref="ExemptionCertificateNum"/>
			<xsd:element ref="MonthsExemptStartDt"/>
			<xsd:element ref="MonthsExemptEndDt"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="InsuranceCoverageType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Insurance Coverage Type</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2013-05-17</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial Version</VersionDescriptionTxt>
					<DescriptionTxt>The elements associated with insurance policy on exchange generated monthly report</DescriptionTxt>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="ApplicableCoverageMonthNum"/>
			<xsd:element ref="QHPPolicyNum"/>
			<xsd:element ref="PediatricDentalPlanPremiumInd" minOccurs="0"/>
			<xsd:element ref="QHPIssuerEIN"/>
			<xsd:element ref="IssuerNm"/>
			<xsd:element ref="PolicyCoverageStartDt"/>
			<xsd:element ref="PolicyCoverageEndDt" minOccurs="0"/>
			<xsd:element ref="TotalQHPMonthlyPremiumAmt"/>
			<xsd:element ref="APTCPaymentAmt"/>
			<xsd:element ref="CoveredIndividual" maxOccurs="99"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="InsurancePolicyType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Insurance Policy Type</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2008-09-19</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial Version</VersionDescriptionTxt>
					<DescriptionTxt>All the elements associated with an exchange policy.</DescriptionTxt>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="InsuranceCoverage" maxOccurs="12"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="OtherCompletePersonNameType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Other Complete Person Name Type</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionDescriptionTxt>Initial Version</VersionDescriptionTxt>
					<VersionEffectiveBeginDt>2014-06-04</VersionEffectiveBeginDt>
					<CACInd>Yes</CACInd>
					<Status>Active</Status>
					<DescriptionTxt>Global type definition for person's full name where all elements are optional.</DescriptionTxt>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="PersonFirstNm"/>
			<xsd:element ref="PersonMiddleNm" minOccurs="0"/>
			<xsd:element ref="PersonLastNm"/>
			<xsd:element ref="SuffixNm" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ReportPeriodDateType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Report Period Date Type</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2013-01-01</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial Version</VersionDescriptionTxt>
					<DescriptionTxt>A date choice that can either a Year using xsd:gYear [e.g., yyyy] or YearMonth as xsd:gYearMonth [e.g., yyyy-mm].</DescriptionTxt>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:choice>
			<xsd:element ref="Year"/>
			<xsd:element ref="YearMonth"/>
		</xsd:choice>
	</xsd:complexType>
	<xsd:complexType name="RejectedFileDtlType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Rejected File Detail Type</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2013-07-29</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial Version</VersionDescriptionTxt>
					<DescriptionTxt>Type for rejected file details</DescriptionTxt>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="SubmissionRejectReasonCd"/>
			<xsd:element ref="SubmissionRejectedFilesNum"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ServiceMetadataDetailType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Service Metadata Detail Type</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2012-09-14</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial version</VersionDescriptionTxt>
					<DescriptionTxt>A group that wraps metadata detail related to a service.</DescriptionTxt>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="ServiceRequestFileId" minOccurs="0"/>
			<xsd:element ref="ServiceRequestFileNm" minOccurs="0"/>
			<xsd:element ref="ServiceRequestFileLocationTxt" minOccurs="0"/>
			<xsd:element ref="MessageSourceSystemNm" minOccurs="0"/>
			<xsd:element ref="ServiceRequestFileSizeTxt" minOccurs="0"/>
			<xsd:element ref="ServiceRequestReceivedTs" minOccurs="0"/>
			<xsd:element ref="ServiceRequestCreatedTs" minOccurs="0"/>
			<xsd:element ref="MessageId" minOccurs="0"/>
			<xsd:element ref="ServiceRequestTotalRecordCnt" minOccurs="0"/>
			<xsd:element ref="ServiceResponseFileCreatedTs" minOccurs="0"/>
			<xsd:element ref="ServiceResponseFileSentTs" minOccurs="0"/>
			<xsd:element ref="ServiceResponseFileLocationTxt" minOccurs="0"/>
			<xsd:element ref="ServiceResponseFileNm" minOccurs="0"/>
			<xsd:element ref="BRMGatewayStatusCd" minOccurs="0"/>
			<xsd:element ref="ServiceExecutionStatusDescriptionTxt" minOccurs="0"/>
			<xsd:element ref="UserId" minOccurs="0"/>
			<xsd:element ref="LastUpdatedTs" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="SHOPEmployeeType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>SHOP Employee  Type</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2008-09-19</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial Version</VersionDescriptionTxt>
					<DescriptionTxt>All the elements associated with an employee roster on exchange generated monthly report</DescriptionTxt>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="EmployeeCoverage" maxOccurs="12"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="SHOPExchangePersonType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Person Details Type</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2013-03-05</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial Version</VersionDescriptionTxt>
					<DescriptionTxt>Name and SSN used by the individual taxpayer </DescriptionTxt>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="OtherCompletePersonName"/>
			<xsd:element ref="SSN"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="WarningMessageDetailType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Warning Message Detail Type</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2012-11-01</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial version</VersionDescriptionTxt>
					<Description>A group that provides warning message related information</Description>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="WarningMessageCd"/>
			<xsd:element ref="WarningMessageTxt" minOccurs="0"/>
			<xsd:element ref="XpathContent" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="WindowCloseNotificationServiceDetailType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Window Close Notification Service Detail Type</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2013-01-01</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial version</VersionDescriptionTxt>
					<Description>Information regarding the window nofitication service detail.</Description>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="ServiceNm"/>
			<xsd:element ref="ServiceVersionNum"/>
			<xsd:element ref="ServiceWindowCloseInd"/>
		</xsd:sequence>
	</xsd:complexType>
	<!-- =====##############          EPD Error Response  Element Declarations Types                    #############===== -->
	<xsd:complexType name="AggregatedGroupMemberType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DescriptionTxt>Aggregated Group Memeber Names and SSNs</DescriptionTxt>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Names" type="OtherCompletePersonNameType"/>
			<xsd:element name="EIN" type="EINType"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="AssociatedPolicyErrorDtlType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Associated Policy Error Detail Type</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2013-06-19</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial Version</VersionDescriptionTxt>
					<DescriptionTxt>Content Type for elements associated policy errors in the exchange generated monthly report</DescriptionTxt>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="EPDErrorDetail" minOccurs="0" maxOccurs="99"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="BusinessNameErrorDtlType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Business Name Error Detail Type</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2008-06-19</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial Version</VersionDescriptionTxt>
					<DescriptionTxt>Type of business name errors in the monthly generated report</DescriptionTxt>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="EPDErrorDetail" minOccurs="0" maxOccurs="99"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="BusinessAddressErrorDtlType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Business AddressError Detail Type</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2008-06-19</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial Version</VersionDescriptionTxt>
					<DescriptionTxt>Type for a exchange business address errors</DescriptionTxt>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:choice>
				<xsd:element ref="USAddressErrorDtl" minOccurs="0"/>
				<xsd:element ref="ForeignAddressErrorDtl" minOccurs="0"/>
			</xsd:choice>
			<xsd:element ref="EPDErrorDetail" minOccurs="0" maxOccurs="99"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="CoveredIndividualErrorDtlType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Covered Individual Error Detail Type</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2008-06-19</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial Version</VersionDescriptionTxt>
					<DescriptionTxt>All the elements associated with an covered individual errors in the exchange generated monthly report</DescriptionTxt>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="InsuredPersonErrorDtl" minOccurs="0"/>
			<xsd:element ref="EPDErrorDetail" minOccurs="0" maxOccurs="99"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="CompletePersonNameErrorDtlType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Complete Person Name Error Detail Type</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2013-06-19</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial Version</VersionDescriptionTxt>
					<DescriptionTxt>A group that provides person's full name</DescriptionTxt>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="ErrorMessageDetail" minOccurs="0" maxOccurs="99"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="DependentInfoErrorsGrpType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Dependent Information Errors Group Type</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2013-06-19</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial Version</VersionDescriptionTxt>
					<DescriptionTxt>Innformation about the dependent errors in the monthly report</DescriptionTxt>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="DependentInfoErrorDtl" minOccurs="0"/>
			<xsd:element ref="EmployerMECErrorDtl" minOccurs="0" maxOccurs="10"/>
			<xsd:element ref="EPDErrorDetail" minOccurs="0" maxOccurs="99"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="EPDPersonErrorDtlType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>EPD Person Error Detail Type</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2008-06-19</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial Version</VersionDescriptionTxt>
					<DescriptionTxt>All the information about the individual taxpayer</DescriptionTxt>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="CompletePersonNameErrorDtl" minOccurs="0"/>
			<xsd:element ref="EPDErrorDetail" minOccurs="0" maxOccurs="99"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="EPDErrorDetailType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Exchange Periodic Data Errror Detail Type</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2013-03-05</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial version</VersionDescriptionTxt>
					<Description>A group that provides EPD error message related information</Description>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="ErrorMessageCd"/>
			<xsd:element ref="ErrorMessageTxt" minOccurs="0"/>
			<xsd:element ref="ErrorValueTxt" minOccurs="0"/>
			<xsd:element ref="XpathContent" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="EmployeeCoverageErrorDtlType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Employee Coverage Error Detail Type</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2008-10-31</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial Version</VersionDescriptionTxt>
					<DescriptionTxt>All the elements associated with an employee roster coverage in exchange generated monthly report</DescriptionTxt>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="CompletePersonNameErrorDtl"/>
			<xsd:element ref="EmployeeSHOPPolicyErrorDtl" minOccurs="0"/>
			<xsd:element ref="EPDErrorDetail" minOccurs="0" maxOccurs="99"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="EmployerPlansOfferedErrorDtlType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Employer Plans Offered Error Detail Type</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2008-06-19</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial Version</VersionDescriptionTxt>
					<DescriptionTxt>All the elements associated with an employer plans offered through SHOP </DescriptionTxt>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="EPDErrorDetail" minOccurs="0" maxOccurs="99"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="EmployeeSHOPPolicyErrorDtlType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Employee SHOP Policy Error Detail Type</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2008-06-19</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial Version</VersionDescriptionTxt>
					<DescriptionTxt>Type of employer SHOP policy error in the exchange generated monthly report</DescriptionTxt>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="SHOPSpouseErrorDtl" minOccurs="0"/>
			<xsd:element ref="SHOPDependentErrorDtl" minOccurs="0" maxOccurs="99"/>
			<xsd:element ref="EPDErrorDetail" minOccurs="0" maxOccurs="99"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="EmployeeRosterErrorDtlType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Employee Roster Error Detail Type</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2008-06-19</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial Version</VersionDescriptionTxt>
					<DescriptionTxt>All the elements associated with an employee roster on exchange generated monthly report</DescriptionTxt>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="SHOPEmployeeErrorDtl" minOccurs="0"/>
			<xsd:element ref="EmployeeSHOPPolicyErrorDtl" minOccurs="0" maxOccurs="10"/>
			<xsd:element ref="EPDErrorDetail" minOccurs="0" maxOccurs="99"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="EmployerMECErrorDtlType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Employer MEC Error Deatil Type</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2013-06-19</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial Version</VersionDescriptionTxt>
					<DescriptionTxt>All the errors associated with an insured employer in exchange generated monthly report</DescriptionTxt>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="BusinessNameErrorDtl" minOccurs="0"/>
			<xsd:element ref="BusinessAddressErrorDtl" minOccurs="0"/>
			<xsd:element ref="EPDErrorDetail" minOccurs="0" maxOccurs="99"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ExemptionErrorDtlType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Exemption Error Detail Type</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2008-09-19</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial Version</VersionDescriptionTxt>
					<DescriptionTxt>All the elements associated with an exemption error in exchange generated monthly report</DescriptionTxt>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="ExemptionCoverageErrorDtl" minOccurs="0" maxOccurs="12"/>
			<xsd:element ref="EPDErrorDetail" minOccurs="0" maxOccurs="99"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ExemptionCoverageErrorDtlType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Exemption Coverage Error Detail Type</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2013-05-17</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial Version</VersionDescriptionTxt>
					<DescriptionTxt>All the elements associated with an exemption coverage errors in a month</DescriptionTxt>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="ExemptPersonErrorDtl" minOccurs="0"/>
			<xsd:element ref="EPDErrorDetail" minOccurs="0" maxOccurs="99"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ForeignAddressErrorDtlType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Foreign Address Error Detail Type</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2013-06-19</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial version</VersionDescriptionTxt>
					<DescriptionTxt>A group that wraps detail associated with a generic foreign address errors</DescriptionTxt>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="EPDErrorDetail" minOccurs="0" maxOccurs="99"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="HouseholdErrorDtlType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Household Error Detail Type</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2013-06-19</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial Version</VersionDescriptionTxt>
					<DescriptionTxt>Household coverage error details in exchange generated monthly report</DescriptionTxt>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="PrimaryInfoErrorsGrp" minOccurs="0"/>
			<xsd:element ref="SpouseInfoErrorsGrp" minOccurs="0"/>
			<xsd:element ref="DependentInfoErrorsGrp" minOccurs="0" maxOccurs="99"/>
			<xsd:element ref="AssociatedPolicyErrorDtl" minOccurs="0" maxOccurs="99"/>
			<xsd:element ref="EPDErrorDetail" minOccurs="0" maxOccurs="99"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="InsuranceCoverageErrorDtlType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Insurance Coverage Error Detail Type</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2013-06-19</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial Version</VersionDescriptionTxt>
					<DescriptionTxt>The elements associated with insurance policy on exchange generated monthly report</DescriptionTxt>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="CoveredIndividualErrorDtl" minOccurs="0" maxOccurs="99"/>
			<xsd:element ref="EPDErrorDetail" minOccurs="0" maxOccurs="99"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="IndividualExchangeErrorType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Individual Exchange Error Type</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2013-04-15</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial Version</VersionDescriptionTxt>
					<DescriptionTxt>All the elements associated with an individual exchange group generated errors</DescriptionTxt>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="HealthExchangeId"/>
			<xsd:element ref="IRSHouseholdErrorDtl" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="EPDErrorDetail" minOccurs="0" maxOccurs="99"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="InsurancePolicyErrorDtlType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Insurance Policy Error Detail Type</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2013-06-19</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial Version</VersionDescriptionTxt>
					<DescriptionTxt>All the elements associated with an exchange policy error</DescriptionTxt>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="InsuranceCoverageErrorDtl" minOccurs="0" maxOccurs="12"/>
			<xsd:element ref="EPDErrorDetail" minOccurs="0" maxOccurs="99"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="IRSHouseholdErrorDtlType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>IRS Household Error Detail Type</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2013-04-15</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial Version</VersionDescriptionTxt>
					<DescriptionTxt>All the elements associated with an individual exchange group generated monthly report</DescriptionTxt>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="IRSGroupIdentificationNum"/>
			<xsd:element ref="TaxHouseholdErrorDtl" minOccurs="0" maxOccurs="99"/>
			<xsd:element ref="ExemptionErrorDtl" minOccurs="0" maxOccurs="99"/>
			<xsd:element ref="InsurancePolicyErrorDtl" minOccurs="0" maxOccurs="99"/>
			<xsd:element ref="EPDErrorDetail" minOccurs="0" maxOccurs="99"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="PersonInformationErrorDtlType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Person Information Error Detail Type</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2008-06-19</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial Version</VersionDescriptionTxt>
					<DescriptionTxt>Error details about the individual taxpayer information</DescriptionTxt>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="CompletePersonNameErrorDtl" minOccurs="0"/>
			<xsd:element ref="USAddressErrorDtl" minOccurs="0"/>
			<xsd:element ref="EPDErrorDetail" minOccurs="0" maxOccurs="99"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="PrimaryInfoErrorsGrpType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Primary Information Errors Group Type</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2013-06-19</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial Version</VersionDescriptionTxt>
					<DescriptionTxt>Primary person error details in the exchange generated monthly report</DescriptionTxt>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="PrimaryInfoErrorDtl" minOccurs="0"/>
			<xsd:element ref="EmployerMECErrorDtl" minOccurs="0" maxOccurs="10"/>
			<xsd:element ref="EPDErrorDetail" minOccurs="0" maxOccurs="99"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="SHOPEmployerInfoErrorDtlType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>SHOP Employer Information Error Detail Type</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2013-10-31</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial Version</VersionDescriptionTxt>
					<DescriptionTxt>Content Type for elements associated with SHOP employer in the policy on exchange generated monthly report</DescriptionTxt>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="BusinessNameErrorDtl"/>
			<xsd:element ref="BusinessAddressErrorDtl"/>
			<xsd:element ref="EPDErrorDetail" minOccurs="0" maxOccurs="99"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="SHOPEmployeeErrorDtlType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>SHOP Employee Error Detail Type</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2013-10-31</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial Version</VersionDescriptionTxt>
					<DescriptionTxt>Content Type for elements associated with an employee roster on exchange generated monthly report</DescriptionTxt>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="EmployeeCoverageErrorDtl" maxOccurs="12"/>
			<xsd:element ref="EPDErrorDetail" minOccurs="0" maxOccurs="99"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="SHOPEmployerErrorDtlType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>SHOP Employer Error Type</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2013-04-15</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial Version</VersionDescriptionTxt>
					<DescriptionTxt>SHOP employer policy error details in the exchange generated monthly report</DescriptionTxt>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="EIN"/>
			<xsd:element ref="SHOPEmployerInfoErrorDtl" maxOccurs="12"/>
			<xsd:element ref="SHOPEmployeeErrorDtl" maxOccurs="1000"/>
			<xsd:element ref="EPDErrorDetail" minOccurs="0" maxOccurs="99"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="SHOPExchangeErrorType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>SHOP Exchange Error Type</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2013-04-15</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial Version</VersionDescriptionTxt>
					<DescriptionTxt>The error detail elements associated with SHOP exchange group</DescriptionTxt>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="HealthExchangeId"/>
			<xsd:element ref="SHOPEmployerErrorDtl" maxOccurs="unbounded"/>
			<xsd:element ref="EPDErrorDetail" minOccurs="0" maxOccurs="99"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="SHOPExchangeErrorDtlType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>SHOP Exchange Error Detail Type</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>20013-04-15</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial Version</VersionDescriptionTxt>
					<DescriptionTxt>The error detail elements associated with SHOP exchange group</DescriptionTxt>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="EIN"/>
			<xsd:element ref="SHOPEmployerErrorDtl" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="EPDErrorDetail" minOccurs="0" maxOccurs="99"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="SHOPExchPersonErrorDtlType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>SHOP Exchange Person Error Details Type</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2013-06-05</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial Version</VersionDescriptionTxt>
					<DescriptionTxt>Name and SSN used by the individual taxpayer </DescriptionTxt>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="CompletePersonNameErrorDtl" minOccurs="0"/>
			<xsd:element ref="EPDErrorDetail" minOccurs="0" maxOccurs="99"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="SpouseInfoErrorsGrpType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Spouse Information Errors Group Type</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2013-06-19</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial Version</VersionDescriptionTxt>
					<DescriptionTxt>Spouse error details in the exchange generated monthly report</DescriptionTxt>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="SpouseInfoErrorDtl" minOccurs="0"/>
			<xsd:element ref="EmployerMECErrorDtl" minOccurs="0" maxOccurs="10"/>
			<xsd:element ref="EPDErrorDetail" minOccurs="0" maxOccurs="99"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="TaxHouseholdCoverageErrorDtlType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Tax Household Coverage Error Detail Type</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2013-06-19</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial Version</VersionDescriptionTxt>
					<DescriptionTxt>Tax household errors in exchange generated monthly report</DescriptionTxt>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:choice>
				<xsd:element ref="HouseholdErrorDtl" minOccurs="0"/>
				<xsd:element ref="OtherRelevantAdultErrorDtl" minOccurs="0"/>
			</xsd:choice>
			<xsd:element ref="EPDErrorDetail" minOccurs="0" maxOccurs="99"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="TaxHouseholdErrorDtlType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Tax Household Error Detail Type</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2013-06-19</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial Version</VersionDescriptionTxt>
					<DescriptionTxt>All the error detail extension elements associated with an tax household on exchange generated monthly report</DescriptionTxt>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="TaxHouseholdCoverageErrorDtl" minOccurs="0" maxOccurs="12"/>
			<xsd:element ref="EPDErrorDetail" minOccurs="0" maxOccurs="99"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="USAddressErrorDtlType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>US Address Group Error Deatil Type</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2008-06-19</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial Version</VersionDescriptionTxt>
					<DescriptionTxt>Type for a Exchange Periodic Data person address </DescriptionTxt>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="EPDErrorDetail" minOccurs="0" maxOccurs="99"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
